@model ApplicationUserModel

<tr>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>
        <form asp-action="Delete" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#dyncontainer">
            <input type="hidden" name="id" value="@Model.Id" />
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
        </form>
    </td>
</tr>